/* Reset de estilos básicos */
/* Define estilos iniciais para elementos HTML comuns. */

/* Estilos gerais */
/* Define estilos gerais para o corpo do documento. */
body {
  font-family: Arial, sans-serif; /* Define a fonte para o corpo do texto. */
}
h1 {
  text-align: center;
}
 
h2 {
  text-align: center;
  background-color: #c1bebe92;
}

header {
  background-color: #888888b9; /* Define a cor de fundo do cabeçalho. */
  color: rgb(0, 0, 0); /* Define a cor do texto no cabeçalho. */
  display: flex; /* Usa o modelo flex para o layout do cabeçalho. */
  justify-content: space-between; /* Alinha os elementos horizontalmente com espaço entre eles. */
  align-items: center; /* Alinha os elementos verticalmente ao centro. */
  padding: 1rem; /* Adiciona espaçamento interno ao cabeçalho. */
}

.logo img {
  max-width: 100px; /* Define a largura máxima da imagem do logo. */
}

nav ul {
  list-style: none; /* Remove os marcadores de lista dos elementos da barra de navegação. */
  display: flex; /* Usa o modelo flex para o layout da lista de navegação. */
  
}

nav a {
  text-decoration: none; /* Remove a decoração de link padrão. */
  color: white; /* Define a cor do texto dos links de navegação. */
  margin: 0 1rem; /* Adiciona margem horizontal aos links. */
  transition: color 0.4s; /* Aplica uma transição suave à cor do texto ao passar o mouse. */
  text-align: center;
}

nav a:hover {
  color: #f0f0f0; /* Define a cor do texto dos links de navegação ao passar o mouse sobre eles. */
}

main.product-list {
  display: flex; /* Usa o modelo flex para o layout da lista de produtos. */
  flex-wrap: wrap; /* Permite que os produtos se ajustem ao espaço disponível em várias linhas. */
  justify-content: center; /* Alinha os produtos horizontalmente ao centro. */
  padding: 2rem; /* Adiciona espaçamento interno à lista de produtos. */
}

.product-card {
  border-radius: 5px; /* Adiciona bordas arredondadas aos cartões de produto. */
  padding: 2%; /* Adiciona espaçamento interno aos cartões de produto. */
  margin: 1rem; /* Define uma margem entre os cartões de produto. */
  width: 230px; /* Define a largura dos cartões de produto. */
  text-align: center; /* Centraliza o conteúdo dentro dos cartões de produto. */
  box-shadow: 0 8px 4px rgba(169, 169, 169, 0); /* Adiciona uma sombra sutil aos cartões de produto. */
}

.product-list img {
  max-width: 100%; /* Garante que a imagem do produto não exceda a largura do cartão. */
  height: auto; /* Mantém a proporção da imagem. */
}



.product-list img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 9px;
  padding: 5px;
}

.product-card {
 border-radius: 5px;
  padding: 2%;
  width: 7%;
  height: 8%;
  border: 10px solid  #ffffff;
  box-shadow: 4px 4px 4px #000000;
  flex-grow: 3;
  transition: transform 0.5s linear;
}

.product-card img {
  width: 400px;
  height: 400px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.product-card:hover{
transform: scale(1.05);
}

footer {
  text-align: center; /* Centraliza o texto no rodapé. */
  padding: 1rem; /* Adiciona espaçamento interno ao rodapé. */
}

/* Responsividade */
/* Define estilos para telas com largura máxima de 768px (dispositivos móveis). */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column; /* Alinha os elementos do cabeçalho em coluna. */
    text-align: center; /* Centraliza o texto no cabeçalho. */
  }
  .logo img {
    margin-bottom: 1rem; /* Adiciona margem inferior à imagem do logo. */
  }
  nav ul {
    margin-top: 1rem; /* Adiciona margem superior à lista de navegação. */
    justify-content: center; /* Alinha os itens da lista de navegação ao centro. */
  }
}


